[submodule "lib/borot_ai/BiLSTM-CRF"]
	path = lib/borot_ai/BiLSTM-CRF
	url = https://github.com/quocdat32461997/BiLSTM-CRF
[submodule "lib/borot_ai/BiLSTM_CRF"]
	path = lib/borot_ai/BiLSTM_CRF
	url = git@github.com:quocdat32461997/BiLSTM_CRF.git
[submodule "lib/borot_ai/intent_classifier"]
	path = lib/borot_ai/intent_classifier
	url = git@github.com:quocdat32461997/intent_classifier.git
[submodule "lib/borot_ai/--force"]
	path = lib/borot_ai/--force
	url = git@github.com:quocdat32461997/BiLSTM_CRF.git
